
#sel-hotspot{
    right: 0px;
    position: absolute;
    top: 0px;
    display:none;
}
#sel-loc-country, #sel-loc-subnational1, #sel-loc-subnational2{
    height: 145px;
}
#panel-col-library{
    display: inline-block;
    border-color: #fbbd58;
}
#panel-col-library .panel-heading{
    background-color: #fbbd58;
    border-color: #fbbd58;
}
#panel-body-col-checklist a{
        margin-right: 3px;
}
#library{
    text-align: center;
}
#panel-col-checklist .panel-heading{
    text-align: center;
    font-size: x-large;
}
#panel-col-checklist .panel-body{
    padding:0;
}
#dropbox{
    font-size: x-large;
    color: #bbb;
    /*border-radius: 5px;*/
    padding: 25px;
    text-align: center;
}
#panel-body-col-checklist{
    border: 2px dashed #bbb;
    margin: 0.952381%;
}
a[type="checkbox"]{width:100px;}
a[type="line"]{width:150px;}
.line-nb{width:50px;display: inline;}
.line-length{width:65px;display: inline;}
a[type="lang"]{width:160;}
a[type="freq"]{width:210px;}
.freq-period{width:80px;display: inline;}
.freq-index{width: 100px;display: inline;}
a[type="note"]{width:100px;}
.selectize-input{
    padding:1px 12px;
}
#div-date-begin input{
    height: 34px;
}
.btn, .form-control, .selectize-input, .panel{
   border-radius: 0; 
}
.form-control.selectize-control{
    margin: auto;
    width: 50%;
}
.selectize-input{
    font-size: x-large;
    padding: 16px;
    height: 52px;
    text-align: center;
}
#sel-loc-selectized{
    font-size: x-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fa-pencil{
    margin-left: 5px;
    cursor: pointer;
}
#map{
    width:100%;
    height: 400px;
    display: none;
}